.footer {
    padding: 25px 0 50px 0;
}

.footer__title {
    font-size: 44px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 30px;
}
.footer-list {
    list-style-position: inside;
    margin-bottom: 30px;
}
.footer__item {
    list-style-type: "—";
    margin-bottom: 10px;
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}
